<nav class="navbar navbar-inverse navbar-fixed-top margin-lg navbar-gap">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand nav-logo" href="/"></a>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
           <li><a class="dropdown-toggle" href="/shop">Shop</a></li>
          
          
            {{#if login}}
            <li><a href="/logout">Logout</a></li>
            {{else}} 
            <li><a href="/auth/google">Login with Google</a></li>
             {{/if}}
             <li><a href="/cart" class="glyphicon glyphicon-shopping-cart">
             <span class="badge">{{session.cart.numItems}}</span>
             </a></li>
            </ul>
            </li>
           
       

        
       
        </ul>
          
          
        </div><!--/.navbar-collapse -->
      
    </nav>