<div class="jumbotron margin-lg vertical-center" style="background-color:#FFFFFF" width=100vw>
     <a href="/shop"><img class="center-block img-responsive" src='https://i.ibb.co/SwQdfcK/ONE.jpg'></a>
  </div>
</div>