.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  padding: 25%;
  display: flex;
  align-items: center;
  max-height: 100vh;
  max-width: 100vw;
}

.horizontal-center {
max-width: 50vw;
}

.vertical-center div {
  border: 0px solid white; 
}

.nav-logo {
  background:url(https://i.ibb.co/SwQdfcK/ONE.jpg);
  background-size: 100% 100%;
  height: 100%;
  width: 95px;
}

.product {
  border: 0px transparent;
}

.product-viewer {
  min-width: 100vw;
  max-width: 100vw;
}

.price {
}

.product-thumbnail {
  display: inline;
  max-height: 100% relative;
  max-width: 100% relative;
}

.cart {
  margin: auto;
  float: center;
  padding-top: 10vh;
}

.cart-totals {
  margin-top: 100px;
  justify-content: left;
  align-items: left;
}

.thumbnail img {
  width: 50vw;
  height: 800px;
}

.jumbotron div{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.cart-footer {
  position: fixed bottom 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #000000;
  justify-content: center;
  color: white;
}
